/*Styles*/

html,
main,
header,
footer,
h1,
body,
input {
    font-family: "Raleway", sans-serif;
    margin: O;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.menu-liste {
    list-style: none;
    display: inline-flex;
    justify-content: center;
}

.fa-star,
.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog,
.fa-info {
    color: #0065fc;
}

header,
main {
    margin: 1.5rem;
}

/**********Header**********/

.Header-div {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.Header-Img {
    padding: 3px;
    height: 45px;
}

.link a {
    color: #000000;
    text-decoration: none;
}

.Sinscrire a {
    font-weight: bold;
    color: #0065fc;
}

nav ul li {
    margin: 0 2rem;
}

.Hébergements .Activités {
    color: #000000;
}

.introduction {
    margin-bottom: 10px;
}

.introduction h1 {
    margin-bottom: 5px;
    font-size: 1.5em;
}

.introduction p {
    font-size: 1em;
}

/********** Barre de recherche **********/

.barre-de-recherche {
    margin-bottom: 20px;
}

.rechercher {
    display: flex;
}

.rechercher span {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    height: 40px;
    padding: 0 20px;
    border-radius: 0.9rem 0 0 0.9rem;
}

.rechercher input {
    border-radius: 0;
    padding-left: 0.9rem;
    border: 1px #f2f2f2;
    font-weight: 600;
}

.rechercher button {
    border: none;
    background-color: #0065fc;
    color: white;
    border-radius: 0 0.9rem 0.9rem 0;
    cursor: pointer;
    font-weight: 600;
}

:placeholder-shown {
    color: #000000;
}

.rechercher input::placeholder {
    color: black;
}

/********** Filters **********/

.Filters {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.item {
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-left: 12px;
    display: flex;
    align-items: center;
    margin: 0.4rem;
}

.FiltreIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #deebff;
    color: #0065fc;
}

.FiltreText {
    padding: 12px;
    font-weight: bolder;
}

.item:hover {
    box-shadow: 0.15rem 0.15rem 0.15rem 0.15rem #c0c0c0;
}

.information {
    margin: 1rem 0rem;
}

/**********Vignettes**********/

.hébergements {
    background-color: #f2f2f2;
    padding: 0 1rem;
    border-radius: 1rem;
}

.populaires {
    background-color: #f2f2f2;
    padding: 0 1rem;
    border-radius: 1rem;
}

.grille-hébergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hébergements .photo {
    padding: 5px;
    background: white;
    width: 30%;
}

.hébergements img {
    width: 100%;
    height: 8rem;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.photo {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #999;
}

.photo:hover {
    box-shadow: 3px 3px 3px 3px #b6b6b6;
}

.photo h4 {
    margin: 0.5rem;
}

.photo p {
    margin: 0.5rem;
}

.star-empty {
    color: #c0c0c0;
}

.hébergements div {
    border-radius: 1rem;
}

/**********Populaires**********/

.grille-populaires {
    flex-wrap: wrap;
    justify-content: space-between;
}

.populaires .photo {
    padding: 5px;
    background: white;
}

.populaires img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.disponibilité {
    border-radius: 20px;
    background: white;
}

.centre {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
}

.populaire-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-titre-icone {
    font-size: 1.7rem;
}

.ordre-vignettes {
    display: grid;
    grid-template-columns: 4fr 5fr;
    column-gap: 1rem;
    height: 10rem;
}

.populaires-image {
    height: 10rem;
}

.populaires-information {
    display: flex;
    flex-direction: column;
}

.populaires-information .caption {
    margin-top: auto;
}

/**********Activités**********/

figure {
    margin: 0;
}

.grille-activités {
    display: grid;
    /* Largeur des colonnes de la grille */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 11rem);
    gap: 2.5rem;
}

.photo-activite {
    height: 100%;
    display: grid;
    grid-template-rows: auto min-content;
}

.activite1 {
    /* grid-row: 1 / span 3; */
    grid-row-start: 1;
    grid-row-end: span 3;
}
.activite2 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
}
.activite3 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: span 1;
}
.activite4 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 3;
}
.activite5 {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: span 1;
}
.activite6 {
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: span 2;
}

.activite {
    box-shadow: 0.5rem 0.5rem 1rem #aaa;
    border-radius: 0.5rem;
    overflow: hidden;
}

.photo-activite img {
    min-height: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.activité-nom {
    padding: 1rem;
}

/**********Footer**********/

.footer {
    margin-top: 10%;
}

.footer-background {
    background-color: #f2f2f2;
    margin: 0.4rem;
}

.footer-div {
    padding: 20px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-liste {
    list-style: none;
    padding-left: 0;
}

.footer-liste li {
    margin: 0.9rem 0rem;
}

/********** ECRANS INFERIEURS A 992PX **********/

@media screen and (max-width: 992px) {
    header {
        justify-content: space-between;
    }

    .grille-activités {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 15rem);
    }

    .activite1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .activite2 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    .activite3 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }

    .activite4 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .activite5 {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    .activite6 {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
    }

    .hébergements .photo {
        width: 100%;
    }
}

/********** ECRANS INFERIEURS A 768PX **********/

@media screen and (max-width: 768px) {
    header {
        justify-content: space-between;
    }

    .grille-activités {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 15rem);
    }

    .activite1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .activite2 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    .activite3 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .activite4 {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    .activite5 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    .activite6 {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    .grille-hébergement {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 15rem);
    }

    .hébergements .photo {
        width: 47%;
    }
}

/********** ECRANS INFERIEURS A 480PX **********/

@media screen and (max-width: 480px) {
    header {
        justify-content: space-between;
    }

    .grille-activités {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 15rem);
    }

    .activite1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .activite2 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .activite3 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    .activite4 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }

    .activite5 {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }

    .activite6 {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
    }

    .grille-hébergement {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 15rem);
    }
}
