/*Styles*/

html, main, header, footer, h1, body, input {
    font-family: 'Raleway', sans-serif;
    margin: O;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
}

img {
    max-width: 100%;
}

ul, li {
    list-style: none;
    display: inline-flex;
    justify-content: center;
}

.fa-star, .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog, .fa-info {
    color: #0065FC;
}

/**********Header**********/

.Header-div {
list-style: none;
display: flex;
justify-content: space-between;
height: 80px
}

.Header-Img {
padding : 3px;
height: 45px;
}

.link a {
    color: #000000;
    text-decoration: none;
}

.Sinscrire a {
    font-weight: bold;
    color: #0065FC;
}

nav ul li {
    margin: 0 2rem;
}

.Hébergements .Activités {
color: #000000;
}

.introduction {
margin-bottom: 10px;
}

.introduction h1 {
margin-bottom: 5px;
font-size: 1.5em;
}

.introduction p {
font-size: 1em;
}


/********** Barre de recherche **********/

.barre-de-recherche {
    margin-bottom: 20px;
}

.rechercher {
    display: flex;
}

.rechercher span {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    height: 40px;
    padding: 0 20px;
    border-radius: 0.9rem 0 0 0.9rem;
}
    
.rechercher input {
    border-radius: 0;
    padding-left: 0.9rem;
    border: 1px  #F2F2F2;
    font-weight: 600;
}

.rechercher button {
    border: none;
    background-color: #0065FC;
    color: white;
    border-radius: 0 0.9rem 0.9rem 0;
    cursor: pointer;
    font-weight: 600;
}

.rechercher button:hover {
    box-shadow: 1px 1px 1px 1px #b6b6b6;
}


/********** Filters **********/


.Filters {
list-style: none;
display: flex;
flex-wrap: wrap;
align-items: center;
margin-top: 10px;
}

.item {
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-left: 12px;
    display: flex;
    align-items: center;
    margin: 0.4rem;
}

.FiltreIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
}

.FiltreText {
    padding: 12px;
    font-weight: bolder;
}

.item:hover {
    background-color: #0065FC;
    color: white;
}

/**********Vignettes**********/

.hébergements {
    background-color: #F2F2F2;
}

.grille-hébergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.populaires {
background-color: #F2F2F2;
}

.activités {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.hébergements .photo  {
    padding: 5px;
    background: #fff;
    width: 30%;
}

.hébergements img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.photo {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #999;
}


/**********Footer**********/